body {
    background-color: #f1f1f1;
    font-family: sans-serif;
}

main {
    max-width: 45em;
    margin: 0 auto;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #323232;
    border: 1px solid #2c2c2c;

    /* IE 9 support "In the separated model, adjacent cells each have their own distinct borders." */
    border-collapse: separate;
}

/* Header with title & searchbar */
header {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 1em 0;
}

input[type=search] {
    padding: 15px 30px;
    border-radius: 50px;
    border: 1px solid #fff;
    max-width: 400px;
    width: 100%;
    margin: 0 auto 2em auto;
    font-size: 1em;
    
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

input[type=search]:focus {
    border-color: red;
    outline: none;
}

/* Contact list styling */
.letter-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.letter-list a {
    display: block;
    height: 3em;
    margin: 1em 0;
    background-color: #fff;
    /* border-radius: 50px; */
    overflow: hidden;
    padding: 0.5em;
}

.hide {
    display: none;
}

.letter-list img:first-child {
    height: 100%;
    border-radius: 50px;
    float: left;
}

.letter-list svg {
    float: right;
    padding: 1em;
    width: 1em;
    height: 1em;
}

.letter-list span {
    display: inline-block;
    padding: 1em;
    height: 1em;
}

/* box shadow */
.detailpage main, input[type=search], .letter-list a {
    border: 1px solid #323232;
}

a:hover, a:focus, input[type=search]:hover, input[type=search]:focus {
    /* Prefix toevoegen voor oudere browsers */
    border: 1px solid red;
}

@supports (display: flex) {
    .letter-list a {
        display: flex;
        justify-content: space-between;
    }

    .letter-list img:first-child { 
        float: none;
    }

    .letter-list svg { 
        float: none;
        align-self: end;
    }
}

/* Detailpage */
.detailpage header {
    position: relative;
}

.detailpage header > * {
    display: inline-block;
}

.detailpage header a {
    position: absolute;
    left: 0;
    padding: 1em 1em;
    margin: 1.5em 1em;
}

.detailpage main {
    background-color: #fff;
    padding: 0 0 20px 0;
}

.detailpage img {
    width: 100%;
}

.detailpage .content-block {
    padding: 0 1em;
}

@supports (box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)) {
    .detailpage main, input[type=search], .letter-list a {
        border: 1px solid #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
}

@supports (box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)) {
    .letter-list a:hover, .letter-list a:focus, input[type=search]:hover, input[type=search]:focus {
        border: 1px solid #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
}
