body {
    background: #7db9e8;
    font-family: sans-serif;
}

.main {
    max-width: 45em;
    margin: 0 auto;
    font-size: 18px;
}

a.backbutton, .letter-list a {
    text-decoration: none;
    color: #323232;
    border: 1px solid #2c2c2c;

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

/* Header with title & searchbar */
header {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 1em 0;
}

h2 {
    margin: 1em 0 0.5em 0;
}

input[type=search] {
    padding: 15px 30px;
    border-radius: 50px;
    border: 1px solid #fff;
    max-width: 400px;
    width: 100%;
    margin: 0 auto 2em auto;
    font-size: 1em;
    
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

input[type=search]:focus, .letter-list a:focus {
    border-color: red;
    outline: none;
}

/* Contact list styling */
.letter-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.letter-list a {
    display: block;
    height: 3em;
    margin: 1em 0;
    background-color: #fff;
    overflow: hidden;
    padding: 0.5em;
}

.letter-list img:first-child {
    height: 100%;
    border-radius: 50px;
    float: left;
}

.letter-list svg {
    float: right;
    padding: 1em;
    width: 1em;
    height: 1em;
}

.letter-list span {
    display: inline-block;
    padding: 1em;
    height: 1em;
}


.hide {
    display: none;
}

/* box shadow */
.detailpage .main, input[type=search], .letter-list a {
    border: 1px solid #323232;
}

a.backbutton:hover, .letter-list a:hover, a:focus, input[type=search]:hover, input[type=search]:focus {
    border: 1px solid red;
}

@supports (display: flex) {
    .letter-list a {
        display: flex;
        justify-content: space-between;
    }

    .letter-list svg { 
        align-self: end;
    }
}

/* Detailpage */
.detailpage {
    text-align: center;
    line-height: 1.4;
}

.detailpage header {
    position: relative;
}

.detailpage header > * {
    display: inline-block;
}

.detailpage header a {
    position: absolute;
    left: 0;
    padding: 1em 1em;
    margin: 1.5em 1em;
}

.detailpage .main {
    background-color: #fff;
    padding: 0 0 20px 0;
}

.detailpage .content-header {
    display: block;
    margin: auto;
    border-radius: 300px;
    max-height: 200px;
    max-width: 200px;
    overflow: hidden;
}

.detailpage img {
    height: 200px;
}

.detailpage .content-block {
    padding: 0 1em;
}

.detailpage ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

@supports (box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)) {
    .detailpage .main, input[type=search], .letter-list a {
        border: 1px solid #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
}

@supports (box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)) {
    .letter-list a:hover, input[type=search]:hover {
        border: 1px solid #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
}

@supports (height: 100vh){
    body {
        background: -moz-linear-gradient(top, #7db9e8 1%, #7db9e8 1%, #47a0e5 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #7db9e8 1%,#7db9e8 1%,#47a0e5 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #7db9e8 1%,#7db9e8 1%,#47a0e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#47a0e5',GradientType=0 ); /* IE6-9 */
        font-family: sans-serif;
        height: 100vh;
    }
}
