/* General style */
header, #tab1, #tab2, #tab3 {
    padding: 20px;
}

.container {
    display: block;
    margin: auto;
    max-width: 988px;
}

/* Header */
header {
    background-color: #f2f2f2;
}

h1, h2 {
    margin: 0 0 10px 0;
}

/* navigation */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#tab1 {
    background-color: green;
    color: #fff;
}

#tab2 {
    background-color: #000;
    color: #fff;
}

#tab3 {
    background-color: red;
    color: #fff;
}