/* General style */
body {
    margin: 0;
    background-color: #fafafa;
    font-family: sans-serif;
}

header, .content-wrapper {
    padding: 20px;
}

.container {
    display: block;
    margin: auto;
    background-color: #fff;
    max-width: 988px;

    /* box shadow with pre-fix */
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px 0;
    font-weight: bold;
}

/* Header */
header {
    background-color: pink;
}

/* navigation */
nav {
    background-color: #f2f2f2;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    /* flex */
    display: flex;
}

ul li {
    text-align: center;
}

/* flex support */
@supports (display: flex) {
    ul {
        display: flex;
    }

    ul li {
        flex-grow: 1;
        flex-basis: 0;
    }
}

ul a {
    display: block;
    padding: 10px 0;
    width: 100%;
}

ul .active {
    background-color: #fff;
}

/* header */
.content-header {
    max-height: 250px;
    object-fit: cover;
}

/* content */
.content {
    display: none;
}

.content.active {
    display: block;
}

.content img {
    /* width: 100%; */
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}